.menu{
  display: block;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  cursor: default;
}

.menu elem{
  width: 100px;
  display: block;
  padding: 20px 0;
  transition: 0.5s;
  margin-top: 2px;
}

.menu elem:hover{
  margin-left: 10px;
  transition: 0.5s;
}

.active{
  background-color: rgba(0, 255, 0, 0.2);
  margin-left: 10px;
}

.active:after{
  content: " <--";
}

dli{
  display: block;
  text-align: left;
}

.mdropall{
  display: inline;
  height: 50px;
  width: 50px;
}

.mdrop {
  display: inline;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  background-color: blue;
  width: 200px;
  float:left;
}

.mdrop a{
  text-decoration: none;
  color: black;
}

.mdrop:hover .drop{
  background-color: gold;
  max-height: 2000px;
  overflow:hidden;
  margin-top: 0;
  transition: 0.5s;
}

.mdrop dtit{
  height: 50px;
  background-color: green;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdrop dtit:hover{
  background-color: red;
  transition: 0.25s;
}

.mdrop dli{
  background-color: red;
  padding-left: 20px;
  padding-top: 4px;
}

.mdrop dli:hover{
  background-color: gold;
}

.drop{
  background-color: magenta;
  max-height: 0;
  overflow:hidden;
  margin-top: 0;
}
